<web-app>
         <servlet>
               <servlet-name>one</servlet-name>
               <servlet-class>AccountStoringServlet</servlet-class>
 
      
          </servlet>

            <servlet-mapping>
                 <servlet-name>one</servlet-name>
                  <url-pattern>/account</url-pattern>
            </servlet-mapping>
<welcome-file-list>
           <welcome-file>account.html</welcome-file>
</welcome-file-list>
</web-app>